[mysqld]
lower_case_table_names = 1
innodb_buffer_pool_size=32MB
default-authentication-plugin=mysql_native_password
sql-mode=STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION
