.slidercontainer {

    align-items: center;
    justify-content: center;
    position: -webkit-sticky;
    display: flexbox;

    bottom: -12px;
    height: 30%;
    width: auto;
    line-height: 10px;
    text-align: center;
}

.sliderimage {
    width: 30%;
    height: auto;

}