.slidercontainer {
    position: absolute
}

.sliderimage {
    width: 100%;
    height: auto;

}


.sliderarrows {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 1;
}

.slidertext {
    position: absolute;
    top: 10%;
    left: 60%;
    background-color: #7d8f72;
    opacity: 0.7;
    padding: 3px;
    font-size: 30px;
    color: #97FB57;




}



.sliderbutton:hover {
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.7), #97FB57);
    transition: all 0.7s ease;
    border-color: black;
    color: black
}

.leftarrow {
    font-size: 35px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 3px;
    cursor: pointer;
    border-radius: 7px;
    margin-left: 5%;

}

.rightarrow {
    font-size: 35px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 3px;
    cursor: pointer;
    border-radius: 7px;
    margin-right: 5%;

}


.rightarrow:hover {
    background-color: #f2f3f1;
    transition: all 0.7s ease;

}

.leftarrow:hover {
    background-color: #f2f3f1;
    transition: all 0.7s ease;
}