.container {
    width: 100%;
    padding-left: 5%;
    position: absolute;
    background-color: #121212;
}

.ul {
    list-style: none;
    padding: 0%;
}

.row {
    display: flex;
}

.footer {
    background-color: #121212;
    padding: 20px 0;
    width: fit-content;
    margin-top: 100%;
    display: inline-flexbox;
}

.footercol {
    width: 100%;
    padding: 15px;
}

.h4 {
    font-size: 22px;
    font-weight: 800;
    color: #909090;
    margin-bottom: 35px;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.a {
    display: inline-block;
    font-size: 20px;
    font-weight: 500;
    color: #97FB57;
    overflow: hidden;
    background: linear-gradient(to right, #f2f3f1 50%, #97FB57 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: all 0.5s ease;
    text-decoration: none;
    position: relative;

}

.a:hover {
    background-position: 0 100%;
    color: #97FB57;
    padding-left: 4px;

}

.sociallinks {
    display: inline-block;
    position: relative;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
    overflow: hidden;
}

.sociallinks:hover {
    color: #97FB57;
    background-color: #121212;
}

.footerimg {
    width: 70px;
    height: auto;
    margin-left: 13%;
}