.gridcontainer {
    display: grid;
    position: static;
    grid-template-columns: repeat(3, 1fr);
    background-color: #121212;
    width: 100%;
    overflow: hidden;
}

.griditem {
    background-color: #f9f9f9;
    padding: 20px;
    text-align: center;
    border-radius: 8px;

}

.griditemimg {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 8px;
    padding: 5px;
}

.griditemh3 {
    margin-top: 10px;

}