.usertable {
    width: 100%;

    margin-top: 20px;
    border-collapse: collapse;
    table-layout: fixed;
    font-size: 18px;
    text-align: center;

    color: white;
}

.usertable th,
.usertable td {

    border: 1px solid #97FB57;
    padding: 3px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.usertable th {
    background-color: #100e0e;
    color: rgb(176, 161, 161);

}

.usertable tr:hover {
    background-color: rgba(255, 255, 255, 0.2);
}



.buttonedit {
    background-color: aqua;
    padding: 5px 8px;
    font-size: 14px;
    cursor: pointer;
}

.buttonedit:hover {
    background-color: rgb(21, 106, 106);
}



.filter {
    font-size: 20px;
    color: white;
    margin-left: 20px;
}

.filterinput[type='text'] {
    margin: 10px;
    background-color: white;
    padding: 10px;
    color: black;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.select {
    color: black;
    font-size: 14px;
}

.registerbutton {
    max-width: fit-content;
    margin-top: 20px;
    margin-left: 20px;
    background-color: #97fb57;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}