.navBar {
  background-color: black;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  padding-left: 50px;
  padding-right: 70px;
}

.containerItems {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

.item {
  cursor: pointer;
  margin-left: 100px;
  font-size: 1.3rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.logo {
  width: auto;
  height: 100px;

}

.logo:hover {
  cursor: pointer;
  opacity: 0.7;
}

.menuIcon {
  display: none;
  position: absolute;
  top: 15px;
  right: 20px;

}

.closeMenu {
  position: absolute;
  top: 15px;
  right: 20px;


}

.responsive {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 920px) {
  .menuIcon {
    display: block
  }

  .containerItems {
    display: flex;
    width: 100%;
    height: 90vh;
    position: relative;
    top: 40px;
    left: 50;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

  }

  .item {
    width: 50%;
    height: 21%;
    position: relative;
    left: -150%;
    font-size: 1.6rem;
    justify-content: center;
    align-items: center;
  }


  .showMenu {
    display: flex;
  }
}